<style>
  h1 {
    background-color: white;
    color: var(--c-primary);
    padding: var(--s1) var(--s3);
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 800;
    border-radius: var(--border-radius-xl);
    line-height: 1;

    text-align: center;
    display: block;
    margin-bottom: var(--s4);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: var(--c-dark);
  }
</style>

<header>
  <h1><a href="/">Fake Astro Store</a></h1>
</header>
