---
import ProductCard from "./ProductCard.astro";

const { products } = Astro.props;
---

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: var(--s4);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>

<ul>
  {
    products.map((product) => (
      <li data-category={product.category?.slug}>
        <a href={`/products/${product.documentId}`}>
          <ProductCard product={product} />
        </a>
      </li>
    ))
  }
</ul>
