name: Deploy Astro

on:
  push:
    branches: [main]
    paths:
      - "frontend/**"
      - ".github/workflows/deploy.yml"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install, build, and upload your site
        uses: withastro/action@v5
        with:
          path: ./frontend
        env:
          STRAPI_URL: ${{ vars.STRAPI_URL }}
          STRAPI_MEDIA_URL: ${{ vars.STRAPI_MEDIA_URL }}
